<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <pollingDuplexHttpBinding>
                <binding name="multipleMessagesPerPollPollingDuplexHttpBinding" duplexMode="MultipleMessagesPerPoll" />
            </pollingDuplexHttpBinding>
        </bindings>
        <extensions>
            <bindingExtensions>
                <add name="pollingDuplexHttpBinding" type="System.ServiceModel.Configuration.PollingDuplexHttpBindingCollectionElement, System.ServiceModel.PollingDuplex, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
            </bindingExtensions>
        </extensions>
        <services>
            <service name="LightCommunicator.Services.ChatService">
                <endpoint address=""
                          binding="wsDualHttpBinding"
                          bindingConfiguration=""
                          name="wsDualHtpp"
                          contract="LightCommunicator.Services.IChatService" />
                <endpoint address="mex"
                          binding="mexHttpBinding"
                          name="mex"
                          contract="IMetadataExchange" />
                <endpoint address="polling"
                          binding="pollingDuplexHttpBinding"
                          bindingConfiguration="multipleMessagesPerPollPollingDuplexHttpBinding"
                          name="polling"
                          bindingName="pollingDuplexHttpBinding"
                          contract="LightCommunicator.Services.IChatService" />
            </service>
        </services>
      <behaviors>
        <serviceBehaviors>
          <behavior>
            <serviceMetadata httpGetEnabled="true"/>
            <serviceDebug includeExceptionDetailInFaults="true"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
        multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
</configuration>
